from spack import *

import shutil


class {{class_name}}(Package):
    """{{description}}"""

    homepage = "{{homepage}}"
    url = "{{url}}"
    git = "{{git_url}}"

    maintainers = ['{{maintainer}}']

    # FIXME: run `spack checksum $version` to get the hash
    # version('{{initial_version}}',
    #         sha256='6508918a07f7f862d743a1acc5eb00d1429a584db03899b731efe40682b7ab14')

    extends('scopes')

    @property
    def scopes_package_name(self):
        return '-'.join(self._name.split('-')[1:])

    def install(self, spec, prefix):

        shutil.copytree(
            f'src/{self.scopes_package_name}',
            f"{prefix}/lib/scopes/packages/{self.scopes_package_name}",
        )
